
<nav class="navbar">
    <a href="/index.html">
        <img src="/img/logo-rebeca.png" alt="Rebeca Ferrari" width='50%' class="containerLogo" />
    </a>
    <ul class="containerMenu">
        <li class="linksMenu">
            <a href="/index.html">INICIO</a>
        </li>
        <li class="linksMenu">
            <a href="/components/pages/sobre.html">SOBRE MIM</a>
        </li>
        <li class="linksMenu">
            <a href="/components/pages/terapia.html">TERAPIA ONLINE</a>
        </li>
        <li class="linksMenu">
            <a href="/components/pages/blog.html">BLOG</a>
        </li>
        <li class="linksMenu">
            <a href="/components/pages/contato.html">CONTATO</a>
        </li>
    </ul>
</nav>