<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Rebeca Ferrari - Psicóloga</title>
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/index.css" />
    <meta charset="utf-8">
    <meta name="author" content="Tiago Ramos Silva" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords"
        content="Psicóloga, Terapia, Saúde mental, Aconselhamento psicológico, Psicoterapia, Psicologia clínica, Bem-estar emocional, Autoconhecimento, Ansiedade, Depressão, Estresse, Relacionamentos, Autoestima, Crescimento pessoal, Orientação profissional, Psicoterapeuta, Terapeuta cognitivo-comportamental, Terapia online, Mindfulness, Resiliência emocional">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $("#navbarr").load("/components/layout/navbar.html");
            $("#footerr").load("/components/layout/footer.html");
        });
    </script>
    <script src="/menu.js" defer></script>
</head>

<body>

    <div id="navbarr"></div>

    <!-- MENU MOBILE -->

    <div class="btn-abrir-menu" id="btn-menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
        </svg>
    </div>

    <div class="menu-mobile" id="menu-mobile">
        <div class="btn-fechar">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x"
                viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
            </svg>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/index.html">INICIO</a>
                </li>
                <li>
                    <a href="/components/pages/sobre.html">SOBRE MIM</a>
                </li>
                <li>
                    <a href="/components/pages/terapia.html">TERAPIA ONLINE</a>
                </li>
                <li>
                    <a href="/components/pages/blog.html">BLOG</a>
                </li>
                <li>
                    <a href="/components/pages/contato.html">CONTATO</a>
                </li>
            </ul>
        </nav>
    </div>

    <section class="sectionpostBlog1">
        <div class="blogpostResume1">
            <div class="imgpostBlog1">
                <img src="/img/img-blog3.jpg" alt="Mãos levantadas">
            </div>
            <div class="textpostBlog1">
                <h1 class="blogpostTitulo1">Sobre a não linearidade do processo terapêutico.</h1>
                <p class="blogpostText1">
                    Ao iniciarmos o processo terapêutico, é necessário compreender que a jornada que leva a um bem-estar
                    emocional pode ser cheia de curvas e não linearidade. E estes altos e baixos que se apresentam como
                    reflexo da complexidade que se dá na experiência humana. <br>
                    Buscar o aprimoramento através do autoconhecimento pode ser um ato muito corajoso e, por vezes,
                    doloroso para a experiência humana. Por aqui exploramos potencialidades para aprendermos a lidar com
                    algumas vulnerabilidades existentes em nós. E em uma vida permeada por altos e baixos, nossos
                    processos que nos levam a olhar para dentro também se mostram em constante flutuação.<br>
                    Para fazermos as pazes com nossa própria flutuação é necessário compreender e acolher até mesmo
                    nossos processos de instabilidade como parte da jornada de autoconhecimento da qual se está em
                    busca. Afinal, não sentir-se constantemente da mesma maneira é o que nos possibilita capacidade de
                    reflexão. Conhecer-se é descobrir coisas sobre si, perceber que não gosta, e assim ter a capacidade
                    e coragem de mudá-las. <br>
                    Assim como na vida, a terapia nos leva a questionamentos e caminhos inesperados. Questões emergem,
                    descobertas são feitas, e a partir do imprevisível é que se dá o verdadeiro processo de auto
                    descoberta, possibilitando a transformação. <br>
                    É comum que se apresentem até mesmo momentos considerados “retrocessos” durante um processo
                    psicoterapêutico, no entanto, até mesmo estes momentos podem nos sinalizar alguma necessidade de
                    atenção, talvez ainda seja necessário olhar para trás e acolher o que nos faz entrar em ciclos de
                    repetição, intimidando o indivíduo a se conectar com uma outra possibilidade de ser e existir.
                    Esta não linearidade destaca para nós a necessidade da reflexão contínua a respeito de nossa própria
                    jornada, compreendendo que até mesmo nos momentos considerados como “estagnados” é possível
                    reconhecer progressos. <br>
                    São justamente os traços não lineares que traçam cada processo terapêutico que destacam a
                    singularidade de cada ser humano. Detentores de uma história única, cada um de nós passará por uma
                    experiência pessoal e única vivenciada através da psicologia ou qualquer outra atividade que
                    proponha auto reflexão. <br>
                    Acolher nossos traços humanos nos traz a posição de perdão conosco e com os outros. Possibilitando a
                    auto responsabilidade sem culpa, relações que respeitem nossos limites e diversas outras
                    características que contribuem para o bem-estar emocional. <br>
                    Em um mundo de imediatismo e soluções rápidas, é necessário abraçar a não linearidade de nossos
                    processos. A psicoterapia apresenta uma jornada dinâmica, repleta de nuances, que refletem a
                    natureza da exploração emocional e do desenvolvimento pessoal. Ao aceitar e compreender estas
                    flutuações é possível encontrar um fértil terreno para um crescimento autêntico e transformador. <br>
                </p>
            </div>
        </div>
        </div>
    </section>

    <div id="footerr"></div>
</body>

</html>