<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Rebeca Ferrari - Psicóloga</title>
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/index.css" />
    <meta charset="utf-8">
    <meta name="author" content="Tiago Ramos Silva" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords"
        content="Psicóloga, Terapia, Saúde mental, Aconselhamento psicológico, Psicoterapia, Psicologia clínica, Bem-estar emocional, Autoconhecimento, Ansiedade, Depressão, Estresse, Relacionamentos, Autoestima, Crescimento pessoal, Orientação profissional, Psicoterapeuta, Terapeuta cognitivo-comportamental, Terapia online, Mindfulness, Resiliência emocional">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $("#navbarr").load("/components/layout/navbar.html");
            $("#footerr").load("/components/layout/footer.html");
        });
    </script>
</head>

<body>

    <div id="navbarr"></div>

    <section class="sectionBlog1">
        <a href="/components/pages/blog1.html">
            <div class="blogResume1">
                <div class="imgBlog1">
                    <img src="/img/img-blog1.jpg" alt="Mãos levantadas">
                </div>
                <div class="textBlog1">
                    <h1 class="blogTitulo1">Titulo do post</h1>
                    <p class="blogText1">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda perspiciatis aliquid aut.
                        Aspernatur
                        rem dignissimos nesciunt magnam totam ipsum voluptatibus architecto, amet a labore beatae sit
                        quis
                        ab,
                        cupiditate ducimus?
                    </p>
                </div>
            </div>
            </div>
        </a>
    </section>

    <section class="sectionBlog2">
        <a href="/components/pages/blog2.html">
            <div class="blogResume2">
                <div class="imgBlog2">
                    <img src="/img/img-blog2.jpg" alt="Mãos levantadas">
                </div>
                <div class="textBlog2">
                    <h1 class="blogTitulo2">Titulo do post</h1>
                    <p class="blogText2">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda perspiciatis aliquid aut.
                        Aspernatur
                        rem dignissimos nesciunt magnam totam ipsum voluptatibus architecto, amet a labore beatae sit
                        quis
                        ab,
                        cupiditate ducimus?
                    </p>
                </div>
            </div>
            </div>
        </a>
    </section>

    <section class="sectionBlog3">
        <a href="/components/pages/blog3.html">
            <div class="blogResume3">
                <div class="imgBlog3">
                    <img src="/img/img-blog3.jpg" alt="Mãos levantadas">
                </div>
                <div class="textBlog3">
                    <h1 class="blogTitulo3">Titulo do post</h1>
                    <p class="blogText3">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda perspiciatis aliquid aut.
                        Aspernatur
                        rem dignissimos nesciunt magnam totam ipsum voluptatibus architecto, amet a labore beatae sit
                        quis
                        ab,
                        cupiditate ducimus?
                    </p>
                </div>
            </div>
            </div>
        </a>
    </section>

    <section class="sectionBlog4">
        <a href="/components/pages/blog4.html">
            <div class="blogResume4">

                <div class="imgBlog4">
                    <img src="/img/img-blog4.jpg" alt="Mãos levantadas">
                </div>
                <div class="textBlog4">
                    <h1 class="blogTitulo4">Titulo do post</h1>
                    <p class="blogText4">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda perspiciatis aliquid aut.
                        Aspernatur
                        rem dignissimos nesciunt magnam totam ipsum voluptatibus architecto, amet a labore beatae sit
                        quis
                        ab,
                        cupiditate ducimus?
                    </p>
                </div>

            </div>
            </div>
        </a>
    </section>


    <div id="footerr"></div>
</body>

</html>