<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Rebeca Ferrari - Psicóloga</title>
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/index.css" />
    <meta charset="utf-8">
    <meta name="author" content="Tiago Ramos Silva" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords"
        content="Amor excessivo, Dependência emocional, Autoestima, Relacionamentos saudáveis, Mulheres, Psicologia feminina, Compaixão, Resgate pessoal, Autoconhecimento, Aceitação, Solidão, Laços estáveis, Saúde emocional, Equilíbrio, Bem-estar, Aconselhamento psicológico, Psicoterapia, Terapia cognitivo-comportamental, Terapia online, Crescimento pessoal, Ressignificação emocional, Reciprocidade, Liberdade emocional">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $("#navbarr").load("/components/layout/navbar.html");
            $("#footerr").load("/components/layout/footer.html");
        });
    </script>
    <script src="/menu.js" defer></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1000687359">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-1000687359');
    </script>
</head>

<body>

    <div id="navbarr"></div>


    <!-- MENU MOBILE -->

    <div class="btn-abrir-menu" id="btn-menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
        </svg>
    </div>

    <div class="menu-mobile" id="menu-mobile">
        <div class="btn-fechar">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x"
                viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
            </svg>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/index.html">INICIO</a>
                </li>
                <li>
                    <a href="/components/pages/sobre.html">SOBRE MIM</a>
                </li>
                <li>
                    <a href="/components/pages/terapia.html">TERAPIA ONLINE</a>
                </li>
                <li>
                    <a href="/components/pages/blog.html">BLOG</a>
                </li>
                <li>
                    <a href="/components/pages/contato.html">CONTATO</a>
                </li>
            </ul>
        </nav>
    </div>

    <section class="sectionpostBlog1">
        <div class="blogpostResume1">
            <div class="imgpostBlog1">
                <img src="/img/img-blog1.webp" alt="Mãos levantadas">
            </div>
            <div class="textpostBlog1">
                <h1 class="blogpostTitulo1">Será que estou “amando demais?”</h1>
                <p class="blogpostText1">
                    Amar é muito bom, mas quando este amor nos torna reféns de nossas próprias emoções comprometendo
                    nosso bem-estar ele torna-se questionável, trazendo à tona perguntas como: <strong> “Será que estou
                        amando
                        demais?” </strong> <br>
                    A partir deste questionamento, popularizou-se o termo “Mulheres que amam demais”, que intitula a
                    obra literária de Robin Norwood, descrevendo alguns padrões de comportamento relacionados à
                    dependência emocional, no qual mulheres tendem a investir demais emocionalmente em seus
                    relacionamentos (sejam eles românticos ou não, podendo se estender a amigos, familiares, filhos,
                    etc.), muitas vezes sacrificando suas próprias necessidades. <br>
                    Ao crescer em lares com dinâmicas disfuncionais, ou nos quais as necessidades emocionais não foram
                    devidamente supridas, é possível que um indivíduo experiencie no decorrer de sua vida quadros de
                    dependência emocional. Muitas vezes, fazendo-os acreditar, ainda que inconscientemente, na salvação
                    de suas mais intensas necessidades através do ato de receber ou dar amor. <br>
                    No entanto, o que torna esta dinâmica extremamente questionável são as questões de autoestima
                    envolvidas neste contexto. Ao acreditarmos na salvação através de um amor externo, podemos ser
                    direcionadas à relações pela busca deste preenchimento de um vazio existencial que pode estar te
                    acompanhando desde a infância. <br>
                    Deste modo, a vivência do amor torna-se um emaranhado de ansiedades, tentativas de controle e
                    constante busca de validação, geralmente disfarçados e mesclados a agradáveis momentos de paixão e
                    afeto, aos quais a mulher que ama demais costuma apegar-se fortemente, a fim, de fortalecer suas
                    crenças de salvação através do amor que é capaz de conquistar, fazer o outro amá-la torna-se sua
                    maneira de ser amada. <br>
                    Quando algo gera trabalho constante, criamos afetos em relação àquilo. É possível confundirmos o
                    trabalho pela busca de amor com o ato de amar. É possível que a conquista em mudar e arrumar a vida
                    de uma pessoa com a qual você se relaciona seja mais atrativa do que a ideia de aceitação em receber
                    alguém em sua vida da maneira que aquela pessoa já é.
                    Por isso, com o passar do tempo o controle se mostra o braço direito de relações sustentadas por uma
                    dinâmica de dependência, afinal de contas, a ideia da falta, rejeição ou abandono podem gerar
                    tamanho desconforto que se mostram necessárias a criação de estratégias que evitem estas
                    experiências a todo custo. <br>
                    No contexto da experiência feminina, a pressão social e as expectativas culturais podem acentuar
                    esse fenômeno. De alguma forma, qualquer estratégia adotada para evitar tal abandono tem raiz num
                    intenso medo da solidão e grandes lacunas na sustentação da auto estima. Ao se perder de si, parece
                    apenas nos restar o outro. <br>
                    Sendo assim, o processo de resgate da auto estima e estratégias de auto acolhimento se colocam como
                    maneiras de quebrar esses padrões instaurados nas relações. Aprender a amar-se demanda
                    autoconhecimento, e por vezes, conhecer-se demandará concentrar menos energia em suas relações
                    externas e mais concentração em sua autopercepção, reconhecendo suas necessidades emocionais e
                    colocando-se à supri-las da maneira mais independente possível. <br>
                    Levantando questões como: O que eu gosto? Como compreendo o amor? O que me faz sentir amada?. É
                    possível chegar a reflexões que identifiquem necessidades de ressignificação de alguns conceitos que
                    nos fazem compreender o amor, reconhecendo nossas próprias crenças disfuncionais acerca dos afetos.
                    Fazer as pazes com sua própria companhia lhe abrirá portas para o investimento em relações leves e
                    saudáveis, sem medo do abandono. Afinal de contas, você é a sua melhor companhia. E apreciar sua
                    presença não te fará fadada à solidão, pelo contrário, te possibilitará criar laços verdadeiramente
                    estáveis e acolhedores. <br>
                    Em um mundo que muitas vezes exige sacrifícios emocionais das mulheres, reconhecer e abordar
                    dependência emocional é um ato de auto compaixão e coragem. A psicologia para mulheres se propõe a
                    ser um guia nessa jornada, promovendo a liberdade emocional e a construção de relacionamentos
                    baseados no respeito mútuo e na reciprocidade. Ao abraçar essa jornada, as mulheres podem encontrar
                    o equilíbrio emocional necessário para viver uma vida plena e autêntica.
                <p class="blogpostText1">
                    Referências Bibliográficas:
                    Norwood, Robin. Mulheres que Amam Demais. São Paulo: ARX, 1985.
                </p>
                </p>
            </div>
        </div>
        </div>
    </section>

    <div class="overlay-menu" id="overlay-menu"></div>

    <div id="footerr"></div>
</body>

</html>