<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Rebeca Ferrari - Psicóloga</title>
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/index.css" />
    <meta charset="utf-8">
    <meta name="author" content="Tiago Ramos Silva" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords"
        content="Psicóloga, Terapia, Saúde mental, Aconselhamento psicológico, Psicoterapia, Psicologia clínica, Bem-estar emocional, Autoconhecimento, Ansiedade, Depressão, Estresse, Relacionamentos, Autoestima, Crescimento pessoal, Orientação profissional, Psicoterapeuta, Terapeuta cognitivo-comportamental, Terapia online, Mindfulness, Resiliência emocional">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $("#navbarr").load("/components/layout/navbar.html");
            $("#footerr").load("/components/layout/footer.html");
        });
    </script>
    <script src="/menu.js" defer></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1000687359">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-1000687359');
    </script>
</head>

<body>

    <div id="navbarr"></div>

    <!-- MENU MOBILE -->

    <div class="btn-abrir-menu" id="btn-menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
        </svg>
    </div>

    <div class="menu-mobile" id="menu-mobile">
        <div class="btn-fechar">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x"
                viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
            </svg>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/index.html">INICIO</a>
                </li>
                <li>
                    <a href="/components/pages/sobre.html">SOBRE MIM</a>
                </li>
                <li>
                    <a href="/components/pages/terapia.html">TERAPIA ONLINE</a>
                </li>
                <li>
                    <a href="/components/pages/blog.html">BLOG</a>
                </li>
                <li>
                    <a href="/components/pages/contato.html">CONTATO</a>
                </li>
            </ul>
        </nav>
    </div>

    <section class="sectionpostBlog1">
        <div class="blogpostResume1">
            <div class="imgpostBlog1">
                <img src="/img/img-blog4.webp" alt="Mãos levantadas">
            </div>
            <div class="textpostBlog1">
                <h1 class="blogpostTitulo1">O mundo da ótica do trauma.
                </h1>
                <p class="blogpostText1">
                    Para a psicologia, o trauma denomina-se como uma experiência capaz de gerar feridas profundas na
                    psique de um indivíduo. Feridas essas que podem se manifestar de diversas formas, afetando a
                    percepção do sujeito em relação ao mundo, ao outro e a si mesmo.<br>
                    Para Kalsched, analista junguiano autor da obra “O mundo interior do trauma”, esta experiência
                    geralmente ocorre ao indivíduo em uma fase de desenvolvimento, na infância, momento do qual, nenhuma
                    das proteções psíquicas são capazes de conter tamanha carga emocional que atingem à criança.<br>
                    Apresenta-se também uma ausência de vínculo no mundo externo capaz de conter tamanha conjuntura
                    (Kalsched, 2013, pag. 11).<br>
                    Desta forma, na ausência de maturidade psíquica capaz de possuir recursos internos, adicionada à
                    ausência de vínculos externos capazes de tornar tal experiência suportável, compõe-se o trauma, se
                    apresentando como uma experiência ameaçadora para a personalidade que ainda se encontra em
                    desenvolvimento.<br>
                    É possível também compreendermos o trauma como uma repetição de experiências que podem nos levar a
                    sensações muito primárias de extrema angústia, por exemplo, ainda que não seja vivenciada exatamente
                    a experiência primal que originou o trauma, algumas vivências já na fase adulta podem nos colocar em
                    sensações muito semelhantes às vivenciadas inicialmente, porém com experiências distintas daquela
                    inicial, podemos considerá-las como “gatilhos”.<br>
                    É certo que a vivência de um trauma, seja ele experienciado na infância, ou na fase adulta, muda a
                    percepção de mundo de um indivíduo. Ainda que determinada vivência ocorra num momento de
                    personalidade já constituída, não é garantia que aquele sujeito terá recursos em seu mundo interno
                    para lidar com determinada situação, ou que existirão vínculos em seu mundo externo capazes de
                    auxiliá-lo com o acolhimento necessário.<br>
                    A partir das vivências primárias relacionadas ao trauma, podemos adquirir algumas feridas
                    emocionais. Em sua obra, As cinco feridas emocionais, a autora Lise Bourbeau, cita cinco das mais
                    comuns feridas com as quais podemos nos desenvolver, sendo elas: Rejeição, injustiça, abandono,
                    humilhação e traição (Bourbeau, 2017).<br>
                    Deste modo, a partir da ferida vivenciada pelo sujeito se guiarão seus afetos e sua percepção de
                    mundo. Por exemplo, se você vivenciou situações que lhe remetem à ferida de rejeição, diversas
                    situações em sua vida poderão ser lidas a partir de um sentimento de rejeição, enquanto um sujeito
                    que vivenciou situações que lhe geraram uma ferida de abandono, poderá sentir emoções que lhe
                    remetem ao abandono, ainda que se trate de uma mesma situação, a leitura poderá ser completamente
                    tendenciosa de acordo com nossas experiências individuais.
                    Dado este espaço de consciência, é necessário que o sujeito passe por um processo de identificação
                    de tais traumas e feridas que surgiram no decorrer de sua trajetória, de modo, que consiga
                    compreender parte de suas tendências na percepção do mundo exterior, a fim, de acolher as emoções
                    vivenciadas em seu interior.<br>
                    Em resumo, os traumas podem ser lidos na fase adulta como uma intensa falta de amor, não limitado ao
                    amor romântico, mas àquela falta do acolhimento citada no início deste artigo, quando o sujeito não
                    foi acolhido da maneira da qual seria capaz de ter suas necessidades emocionais supridas para lidar
                    com determinada experiência. E isso não significa que este sujeito foi exposto a vulnerabilidade
                    extrema, teve maus genitores ou uma infância predominantemente ruim, mas que uma série de situações
                    podem ter lhe causado impactos a gerar estas feridas das quais carrega em sua maturidade, algumas
                    vezes, não encontraremos um culpado, apenas é necessário acolher os impactos de nossas vivências.
                    No processo psicoterapêutico, é possível identificarmos alguns dos traumas que podem estar guiando a
                    sua percepção de mundo, afetando suas relações consigo e com os outros. É neste espaço que pode-se
                    encontrar o amor que parece ter sido escasso no decorrer da vida, podendo se tratar do amor pela
                    vida, por si própria, pelos próprios gostos e hobbies, antes mesmo de associarmos ao amor romântico.
                    Identificar qual a ótica temos utilizado para enxergar o mundo pode te ajudar a identificar os
                    gatilhos que lhe colocam diante de emoções de extremo desconforto, e assim, acolhê-las. A cura vem
                    pelo amor, por nós.<br>

                <p class="blogpostText1">
                    Kalsched, D. O mundo interior do trauma: Defesas arquetípicas do espírito pessoal. São Paulo, 2013.
                    Bourbeau, L. As cinco feridas emocionais: Rejeição, injustiça, abandono, humilhação e traição: Como
                    superar os sentimentos que impedem a sua felicidade. Rio de Janeiro, 2017.
                </p>

                </p>
            </div>
        </div>
        </div>
    </section>

    <div class="overlay-menu" id="overlay-menu"></div>

    <div id="footerr"></div>
</body>

</html>