<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Rebeca Ferrari - Psicóloga</title>
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/index.css" />
    <meta charset="utf-8">
    <meta name="author" content="Tiago Ramos Silva" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords"
        content="Psicóloga, Terapia, Saúde mental, Aconselhamento psicológico, Psicoterapia, Psicologia clínica, Bem-estar emocional, Autoconhecimento, Ansiedade, Depressão, Estresse, Relacionamentos, Autoestima, Crescimento pessoal, Orientação profissional, Psicoterapeuta, Terapeuta cognitivo-comportamental, Terapia online, Mindfulness, Resiliência emocional">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $("#navbarr").load("/components/layout/navbar.html");
            $("#footerr").load("/components/layout/footer.html");
        });
    </script>
    <script src="/menu.js" defer></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1000687359">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-1000687359');
    </script>
</head>

<body>

    <div id="navbarr"></div>

    <!-- MENU MOBILE -->

    <div class="btn-abrir-menu" id="btn-menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
        </svg>
    </div>

    <div class="menu-mobile" id="menu-mobile">
        <div class="btn-fechar">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x"
                viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
            </svg>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/index.html">INICIO</a>
                </li>
                <li>
                    <a href="/components/pages/sobre.html">SOBRE MIM</a>
                </li>
                <li>
                    <a href="/components/pages/terapia.html">TERAPIA ONLINE</a>
                </li>
                <li>
                    <a href="/components/pages/blog.html">BLOG</a>
                </li>
                <li>
                    <a href="/components/pages/contato.html">CONTATO</a>
                </li>
            </ul>
        </nav>
    </div>

    <section class="sectionBlog1">
        <a href="/components/pages/blog1.html">
            <div class="blogResume1">
                <div class="imgBlog1">
                    <img src="/img/img-blog1.webp" alt="Mãos levantadas">
                </div>
                <div class="textBlog1">
                    <h1 class="blogTitulo1">Será que estou “amando demais?”</h1>
                    <p class="blogText1">
                        Amar é muito bom, mas quando este amor nos torna reféns de nossas próprias emoções comprometendo
                        nosso bem-estar ele torna-se questionável, trazendo à tona perguntas como: <strong> “Será que
                            estou amando
                            demais?” </strong>
                        <br> <em>Ler mais >></em>
                    </p>
                </div>
            </div>
            </div>
        </a>
    </section>

    <section class="sectionBlog2">
        <a href="/components/pages/blog2.html">
            <div class="blogResume2">
                <div class="imgBlog2">
                    <img src="/img/img-blog2.webp" alt="Mãos levantadas">
                </div>
                <div class="textBlog2">
                    <h1 class="blogTitulo2">Me falta presença no agora, por onde anda minha mente?</h1>
                    <p class="blogText2">
                        Sobre se encontrar em um estado de constante falta de presença. Os pensamentos já não parecem
                        estar
                        sob controle, autocríticas intensas em relação aos comportamentos passados, sejam eles de anos
                        atrás, ou de uma conversa que ocorreu há instantes.

                        <br> <em>Ler mais >></em>
                    </p>

                </div>
            </div>
            </div>
        </a>
    </section>

    <section class="sectionBlog3">
        <a href="/components/pages/blog3.html">
            <div class="blogResume3">
                <div class="imgBlog3">
                    <img src="/img/img-blog3.webp" alt="Mãos levantadas">
                </div>
                <div class="textBlog3">
                    <h1 class="blogTitulo3">Sobre a não linearidade do processo terapêutico.</h1>
                    <p class="blogText3">
                        Ao iniciarmos o processo terapêutico, é necessário compreender que a jornada que leva a um
                        bem-estar
                        emocional pode ser cheia de curvas e não linearidade. E estes altos e baixos que se apresentam
                        como
                        reflexo da complexidade que se dá na experiência humana.

                        <br> <em>Ler mais >></em>
                    </p>
                </div>
            </div>
            </div>
        </a>
    </section>

    <section class="sectionBlog4">
        <a href="/components/pages/blog4.html">
            <div class="blogResume4">

                <div class="imgBlog4">
                    <img src="/img/img-blog4.webp" alt="Mãos levantadas">
                </div>
                <div class="textBlog4">
                    <h1 class="blogTitulo4">O mundo da ótica do trauma.</h1>
                    <p class="blogText4">
                        Para a psicologia, o trauma denomina-se como uma experiência capaz de gerar feridas profundas na
                        psique de um indivíduo. Feridas essas que podem se manifestar de diversas formas, afetando a
                        percepção do sujeito em relação ao mundo, ao outro e a si mesmo.
                        <br> <em>Ler mais >></em>
                    </p>
                </div>

            </div>
            </div>
        </a>
    </section>

    <div class="overlay-menu" id="overlay-menu"></div>

    <div id="footerr"></div>
</body>

</html>