<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Rebeca Ferrari - Psicóloga</title>
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/index.css" />
    <meta charset="utf-8">
    <meta name="author" content="Tiago Ramos Silva" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords"
        content="Psicóloga, Terapia, Saúde mental, Aconselhamento psicológico, Psicoterapia, Psicologia clínica, Bem-estar emocional, Autoconhecimento, Ansiedade, Depressão, Estresse, Relacionamentos, Autoestima, Crescimento pessoal, Orientação profissional, Psicoterapeuta, Terapeuta cognitivo-comportamental, Terapia online, Mindfulness, Resiliência emocional">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $("#navbarr").load("/components/layout/navbar.html");
            $("#footerr").load("/components/layout/footer.html");
        });
    </script>
    <script src="/menu.js" defer></script>
</head>

<body>

    <div id="navbarr"></div>

    <!-- MENU MOBILE -->

    <div class="btn-abrir-menu" id="btn-menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
        </svg>
    </div>

    <div class="menu-mobile" id="menu-mobile">
        <div class="btn-fechar">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x"
                viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
            </svg>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/index.html">INICIO</a>
                </li>
                <li>
                    <a href="/components/pages/sobre.html">SOBRE MIM</a>
                </li>
                <li>
                    <a href="/components/pages/terapia.html">TERAPIA ONLINE</a>
                </li>
                <li>
                    <a href="/components/pages/blog.html">BLOG</a>
                </li>
                <li>
                    <a href="/components/pages/contato.html">CONTATO</a>
                </li>
            </ul>
        </nav>
    </div>

    <section class="sectionpostBlog1">
        <div class="blogpostResume1">
            <div class="imgpostBlog1">
                <img src="/img/img-blog2.jpg" alt="Mãos levantadas">
            </div>
            <div class="textpostBlog1">
                <h1 class="blogpostTitulo1">Me falta presença no agora, por onde anda minha mente?
                </h1>
                <p class="blogpostText1">
                    Sobre se encontrar em um estado de constante falta de presença. Os pensamentos já não parecem estar
                    sob controle, autocríticas intensas em relação aos comportamentos passados, sejam eles de anos
                    atrás, ou de uma conversa que ocorreu há instantes. Acrescidos de frequentes pensamentos em relação
                    ao futuro, seja ele a longo prazo, ou a respeito da realização de sua próxima tarefa daqui a uma
                    hora. Assim é viver com a ansiedade.<br>
                    Para compreendermos a ansiedade, é importante saber que ela nem sempre tem como finalidade o
                    comprometimento do nosso bem-estar. Biologicamente, os sintomas físicos e emocionais da ansiedade
                    atuam como maneiras de proteção à nossa integridade ao sentirmos ameaçados, ativando áreas do nosso
                    sistema nervoso que são popularmente conhecidas como “luta e fuga” (Viana, 2010).<br>
                    Tendo em vista que a ansiedade é um afeto ativado pelo nosso corpo como uma reação a situações que
                    ele considera ameaçadoras, nos resta saber “o que remete perigo à nossa mente?” (Viana, 2010).
                    Quando se há a percepção de um corpo e uma mente que constantemente parecem necessitar da proteção
                    gerada pela ansiedade, se mostra necessário questionar seus níveis de “normalidade” e
                    comprometimento do bem-estar.<br>
                    A questão é, ainda que a ansiedade tida de modo saudável tem como função nossa autopreservação, do
                    que exatamente tentamos nos “preservar” constantemente quando os sintomas de ansiedade parecem vir a
                    partir de gatilhos aleatórios e “fora de hora”?.<br>
                    No decorrer de um processo de psicoterapia, uma paciente levantou seus sintomas de ansiedade
                    constantes como “medo do agora”, patologicamente, podemos nomeá-lo como “agorafobia”, no entanto,
                    não se trata da definição de um diagnóstico, mas sim sobre “o que há neste agora de tão intimidador
                    para este cérebro?”.<br>
                    Ao tentar compreender a raiz dos sintomas de ansiedade, por vezes encontramos pequenos medos
                    constantes vivenciados no cotidiano destas mulheres. Alguns externos, tratando-se de ambientes e
                    relações intimidadoras. E outros, tratando-se de grandes monstros internos, que as fazem
                    desconectar-se do presente, como maneira de não lidar com algumas emoções que podem lhe parecer
                    intimidadoras.<br>
                    Uma importante estratégia para o manejo da ansiedade é a busca da conexão com o presente. Afinal de
                    contas, o que seria a ansiedade se não a fuga do agora?. E esta busca pode ser guiada através de
                    diversas práticas que auxiliam na autopercepção do sujeito, trabalhando com a conexão com o próprio
                    corpo que habita, bem como, a realidade vivenciada por esse corpo, quais as experiências lhe causam
                    prazer, desprazer, medo, tristeza, etc.<br>
                    A busca pela conexão com o presente nos leva à experiências de autoconhecimento. Afinal, estar
                    presente nos faz perceber e sentir, podendo nos gerar prazer ou insatisfação. Portanto, a
                    consciência de sua realidade será a única maneira de perceber o que há nela que gostaria de mudar.
                    Isso pode gerar desconforto e medo, mas também diversas sensações de prazer, gratidão e potência
                    diante de nossa capacidade de mudança ou até mesmo de aceitação.<br>
                    Deste modo, o acolhimento também pode ser um grande aliado nos processos de compreensão do controle
                    da ansiedade, pergunte a si mesma “do que estou com medo em meu agora?” quando perceber-se em
                    constantes devaneios de remorso quanto ao passado e receios quanto ao futuro. Por vezes, não há o
                    que ser feito, se não retomarmos a percepção de onde estamos neste momento e quais as potências
                    disponíveis ao nosso alcance neste agora.<br>
                    Acredite, a construção do futuro que tanto pode te intimidar está intimamente ligada à maneira que
                    você lida consigo mesma neste momento, no agora, portanto, este é o único lugar que mora o seu
                    poder. Ainda que a ansiedade se mostre como uma maneira de preservação, e até mesmo de preparação
                    diante das situações, sua única e verdadeira potência de ação mora no agora.<br>
                    A psicologia conta com diversos recursos para te auxiliar nessa jornada, sendo o processo
                    psicoterapêutico um ambiente capaz de proporcionar reflexões adequadas e acolhedoras acerca do seu
                    passado e futuro, sem desprender-se de seu presente. Olhar para dentro pode ser o primeiro passo
                    para voltar para o agora. Vamos juntas?<br>

                <p class="blogpostText1">
                    VIANA, Milena de Barros. Freud e Darwin: ansiedade como sinal, uma resposta adaptativa ao perigo.
                    Nat. hum., São Paulo , v. 12, n. 1, p. 1-33, 2010 . Disponível em <http:
                        //pepsic.bvsalud.org/scielo.php?script=sci_arttext&pid=S1517-24302010000100006&lng=pt&nrm=iso>.
                        acessos em 20 fev. 2024.
                </p>
                </p>
            </div>
        </div>
        </div>
    </section>

    <div id="footerr"></div>
</body>

</html>