<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Rebeca Ferrari - Psicóloga</title>
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/index.css" />
    <meta charset="utf-8">
    <meta name="author" content="Tiago Ramos Silva" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords"
        content="Psicóloga, Terapia, Saúde mental, Aconselhamento psicológico, Psicoterapia, Psicologia clínica, Bem-estar emocional, Autoconhecimento, Ansiedade, Depressão, Estresse, Relacionamentos, Autoestima, Crescimento pessoal, Orientação profissional, Psicoterapeuta, Terapeuta cognitivo-comportamental, Terapia online, Mindfulness, Resiliência emocional">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $("#navbarr").load("/components/layout/navbar.html");
            $("#footerr").load("/components/layout/footer.html");
        });
    </script>
</head>

<body>

    <div id="navbarr"></div>

    <section class="sectionSobre">
        <div class="textosSobre">
          <h1 class="tituloSobre">Prazer, Rebeca Ferrari!</h1>
          <h2 class="subtituloSobre">CRP: 06/167325</h2>
          <p class="quoteSobre">
            Sou Psicóloga Clínica de abordagem Junguiana, com formação pela
            Universidade Municipal São Caetano (USCS) e há alguns anos me dedicando
            ao atendimento psicoterapêutico voltado à saúde mental das mulheres.
            Além da minha prática profissional, tenho uma paixão pela arte,
            acreditando em sua capacidade terapêutica, compreendendo que se
            expressar faz parte de qualquer processo de auto aperfeiçoamento.
            Entendo que o autoconhecimento é a chave para aprimorar todas as
            relações, proporcionando equilíbrio emocional e fortalecimento pessoal.
            Acredito intimamente na cura através da fala, um dos nossos principais
            recursos de auto reflexão como seres humanos, por isso, em toda minha
            prática busco proporcionar um espaço seguro e acolhedor, onde juntas
            exploraremos caminhos de crescimento e bem-estar emocional.
          </p>
        </div>
        <div class="imgContainerSobre">
          <img src="/img/img-sobre.jpeg" alt="Rebeca Ferrari" class="imgSobre" />
        </div>
      </section>
      <section class="videoSection">
        <div class="videoDiv">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/aJhiUbhb1YY" title="Brasileiro (Official Putumayo Version)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </section>

    <div id="footerr"></div>
</body>

</html>