<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Rebeca Ferrari - Psicóloga</title>
  <link rel="icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/index.css" />
  <meta charset="utf-8">
  <meta name="author" content="Tiago Ramos Silva" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords"
    content="Psicóloga online, Terapia online, Atendimento online, Terapia à distância, Psicoterapia online, Aconselhamento virtual, Saúde mental online, Terapeuta online, Psicologia online, Terapia via internet, Terapia remota, Bem-estar emocional online, Consulta psicológica online">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(function () {
      $("#navbarr").load("/components/layout/navbar.html");
      $("#footerr").load("/components/layout/footer.html");
    });
  </script>
  <script src="/menu.js" defer></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1000687359">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-1000687359');
  </script>
</head>

<body>

  <div id="navbarr"></div>

  <!-- MENU MOBILE -->

  <div class="btn-abrir-menu" id="btn-menu">
    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
    </svg>
  </div>

  <div class="menu-mobile" id="menu-mobile">
    <div class="btn-fechar">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x"
        viewBox="0 0 16 16">
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
      </svg>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/index.html">INICIO</a>
        </li>
        <li>
          <a href="/components/pages/sobre.html">SOBRE MIM</a>
        </li>
        <li>
          <a href="/components/pages/terapia.html">TERAPIA ONLINE</a>
        </li>
        <li>
          <a href="/components/pages/blog.html">BLOG</a>
        </li>
        <li>
          <a href="/components/pages/contato.html">CONTATO</a>
        </li>
      </ul>
    </nav>
  </div>

  <section class="sectionTerapia">
    <div class="terapiaTextos">
      <h1 class="tituloTerapia">Atendimento online!</h1>
      <p class="quoteTerapia">
        Desfrute dos benefícios da psicoterapia em casa ou onde quer que
        esteja. Nossa terapia online está em conformidade com todas as
        exigências do Conselho de Ética, garantindo um atendimento de
        qualidade com segurança e conforto. Respeitamos sua privacidade em
        todas as sessões, utilizando plataformas específicas que se adaptam às
        suas necessidades. Clique no botão abaixo para agendar uma conversa
        gratuita comigo e esclarecer quaisquer dúvidas sobre meu serviço.
      </p>
      <a class="bttnsessaoTerapia" href="https://calendly.com/psi-rebecaferrari/30min" target="_blank">
        Agende uma sessão aqui!
      </a>
    </div>
    <div className="imgContainerTerapia">
      <img src="/img/img-terapia.svg" alt="Rebeca Ferrari" class="imgTerapia" />
    </div>
  </section>
  <h1 class="tituloBeneficios"> BENEFÍCIOS DA TERAPIA ONLINE</h1>
  <section class="beneficiosTerapia">
    <div class="cardTerapia1">
      <img src="/img/flor-terapia.png" alt="florzinha-terapia">
      <h1 class="tituloCardTerapia">
        Acesso facilitado
      </h1>
      <p class="textoCardTerapia">
        A terapia online permite que os pacientes acessem os serviços de saúde mental de praticamente qualquer lugar com
        uma conexão à internet. Isso é especialmente útil para pessoas que vivem em áreas remotas ou têm dificuldades de
        mobilidade, pois elimina barreiras geográficas e torna a terapia mais acessível.
      </p>

    </div>
    <div class="cardTerapia2">
      <img src="/img/flor-terapia.png" alt="florzinha-terapia">
      <h1 class="tituloCardTerapia">
        Conveniência e flexibilidade
      </h1>
      <p class="textoCardTerapia">
        A terapia online oferece maior flexibilidade de horários, permitindo que os pacientes escolham os horários de
        sessão que melhor se adequam às suas agendas lotadas. Além disso, elimina a necessidade de viagens para o
        consultório do terapeuta, economizando tempo e dinheiro.
      </p>

    </div>

    <div class="cardTerapia3">
      <img src="/img/flor-terapia.png" alt="florzinha-terapia">
      <h1 class="tituloCardTerapia">
        Privacidade
      </h1>
      <p class="textoCardTerapia">
        Para algumas pessoas, a terapia online pode oferecer um maior senso de privacidade e anonimato. Isso pode ser
        especialmente benéfico para aqueles que se sentem desconfortáveis com a ideia de visitar um consultório de
        terapia em pessoa ou que desejam discutir questões sensíveis sem se preocupar com a presença de outras pessoas
        ao redor.</p>

    </div>


    <div class="cardTerapia4">
      <img src="/img/flor-terapia.png" alt="florzinha-terapia">
      <h1 class="tituloCardTerapia">
        Variedade de opções de comunicação
      </h1>
      <p class="textoCardTerapia">
        A terapia online oferece uma variedade de opções de comunicação, como videochamadas, mensagens de texto, e-mails
        e chat ao vivo. Isso permite que os pacientes escolham o método de comunicação que se sentem mais confortáveis e
        que melhor se adapta às suas necessidades e preferências. </p>

    </div>
  </section>

  <div class="overlay-menu" id="overlay-menu"></div>

  <div id="footerr"></div>
</body>

</html>