<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Rebeca Ferrari - Psicóloga</title>
  <link rel="icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/index.css" />
  <meta charset="utf-8">
  <meta name="author" content="Tiago Ramos Silva" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords"
    content="Psicóloga, Terapia presencial, Atendimento presencial, Psicoterapia, Saúde mental, Terapeuta, Psicologia, Consulta psicológica">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(function () {
      $("#navbarr").load("/components/layout/navbar.html");
      $("#footerr").load("/components/layout/footer.html");
    });
  </script>
  <script src="/menu.js" defer></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1000687359"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-1000687359');
  </script>
</head>

<body>

  <div id="navbarr"></div>

  <!-- MENU MOBILE -->

  <div class="btn-abrir-menu" id="btn-menu">
    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
    </svg>
  </div>

  <div class="menu-mobile" id="menu-mobile">
    <div class="btn-fechar">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x"
        viewBox="0 0 16 16">
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
      </svg>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/index.html">INICIO</a>
        </li>
        <li>
          <a href="/components/pages/sobre.html">SOBRE MIM</a>
        </li>
        <li>
          <a href="/components/pages/terapia.html">ATENDIMENTO</a>
        </li>
        <li>
          <a href="/components/pages/blog.html">BLOG</a>
        </li>
        <li>
          <a href="/components/pages/contato.html">CONTATO</a>
        </li>
      </ul>
    </nav>
  </div>

  <section class="sectionTerapiaPresencial">
    <div class="terapiaTextosPresencial">
      <h1 class="tituloTerapiaPresencial">Atendimento Presencial!</h1>
      <p class="quoteTerapiaPresencial">
        Experimente a psicoterapia em um ambiente acolhedor e reservado, no coração de Florianópolis. O atendimento presencial permite uma conexão mais profunda, proporcionando um espaço seguro para explorar seus sentimentos e desafios com total sigilo e conforto. No consultório, localizado no centro da cidade, você terá um ambiente preparado para promover seu bem-estar e desenvolvimento emocional.  
        Clique no botão abaixo para agendar uma conversa gratuita comigo e esclarecer quaisquer dúvidas sobre meu serviço.
      </p>
      <a class="bttnsessaoTerapiaPresencial" href="https://api.whatsapp.com/send?phone=5511997923007&fbclid=PAAaY5boJZRwcez7AMNLy6JPpuGimdpZ1EXAOSEQDOIhUIJ90A75czzqBayE4_aem_AT2l_ZiKCSnp-nmwVgY1hZ74mfGCIcJA9T5TMqKgc-wiiEJMBI7s5XUhtbG_tlMkdmE" target="_blank">
        Agende uma sessão aqui!
      </a>
    </div>
    <div class="imgContainerTerapia">
      <img src="/img/img-terapia-presencial.avif" alt="Rebeca Ferrari" class="imgTerapiaPresencial" />
    </div>
  </section>
  <h1 class="tituloBeneficios"> BENEFÍCIOS DA TERAPIA PRESENCIAL</h1>
  <section class="beneficiosTerapia">
    <div class="cardTerapia1">
      <img src="/img/flor-terapia.png" alt="florzinha-terapia">
      <h1 class="tituloCardTerapia">
        Maior conexão emocional
      </h1>
      <p class="textoCardTerapia">
        O contato face a face permite uma comunicação mais profunda, facilitando a leitura de expressões faciais e linguagem corporal, o que pode melhorar a empatia e a compreensão entre paciente e terapeuta.
      </p>

    </div>
    <div class="cardTerapia2">
      <img src="/img/flor-terapia.png" alt="florzinha-terapia">
      <h1 class="tituloCardTerapia">
        Ambiente seguro e estruturado
      </h1>
      <p class="textoCardTerapia">
        Estar fisicamente presente em um consultório pode proporcionar uma sensação de segurança e comprometimento, ajudando a pessoa a se desconectar das distrações do dia a dia e focar totalmente na terapia.
      </p>

    </div>

    <div class="cardTerapia3">
      <img src="/img/flor-terapia.png" alt="florzinha-terapia">
      <h1 class="tituloCardTerapia">
        Ritual e rotina 
      </h1>
      <p class="textoCardTerapia">
        Ter que se deslocar até o consultório pode reforçar a ideia de compromisso e disciplina com o processo terapêutico, criando uma estrutura que favorece a continuidade do tratamento.</p>

    </div>


    <div class="cardTerapia4">
      <img src="/img/flor-terapia.png" alt="florzinha-terapia">
      <h1 class="tituloCardTerapia">
        Menos distrações tecnológicas 
      </h1>
      <p class="textoCardTerapia">
        Diferente da terapia online, onde podem ocorrer problemas de conexão ou interrupções externas, a terapia presencial evita esses obstáculos e permite uma experiência mais fluida e imersiva. </p>

    </div>
  </section>

  <div class="overlay-menu" id="overlay-menu"></div>

  <div id="footerr"></div>
</body>

</html>