<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Rebeca Ferrari - Escolha seu Atendimento</title>
  <link rel="icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/index.css" />
  <meta charset="utf-8">
  <meta name="author" content="Tiago Ramos Silva" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(function () {
      $("#navbarr").load("/components/layout/navbar.html");
      $("#footerr").load("/components/layout/footer.html");
    });
  </script>
  <script src="/menu.js" defer></script>
</head>

<body>
  <div id="navbarr"></div>

  <section class="sectionEscolhaAtendimento">
    <div class="escolhaTextos">
      <h1 class="tituloEscolha">Escolha seu tipo de atendimento</h1>
      <p class="descricaoEscolha">Selecione a opção que melhor atende às suas necessidades.</p>
      <div class="botoesEscolha">
        <a class="btnAtendimento" href="/components/pages/terapia-presencial.html">Atendimento Presencial</a>
        <a class="btnAtendimento" href="/components/pages/terapia-online.html">Atendimento Online</a>
      </div>
    </div>
  </section>

  <div id="footerr"></div>
</body>

</html>
