<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Rebeca Ferrari - Psicóloga</title>
  <link rel="icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/index.css" />
  <meta charset="utf-8">
  <meta name="author" content="Tiago Ramos Silva" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords"
    content="Psicóloga, Terapia, Saúde mental, Aconselhamento psicológico, Psicoterapia, Psicologia clínica, Bem-estar emocional, Autoconhecimento, Ansiedade, Depressão, Estresse, Relacionamentos, Autoestima, Crescimento pessoal, Orientação profissional, Psicoterapeuta, Terapeuta cognitivo-comportamental, Terapia online, Mindfulness, Resiliência emocional">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(function () {
      $("#navbarr").load("/components/layout/navbar.html");
      $("#footerr").load("/components/layout/footer.html");
    });
  </script>
</head>

<body>

  <div id="navbarr"></div>

  <section class="sectionTerapia">
    <div class="terapiaTextos">
      <h1 class="tituloTerapia">Atendimento online!</h1>
      <p class="quoteTerapia">
        Desfrute dos benefícios da psicoterapia em casa ou onde quer que
        esteja. Nossa terapia online está em conformidade com todas as
        exigências do Conselho de Ética, garantindo um atendimento de
        qualidade com segurança e conforto. Respeitamos sua privacidade em
        todas as sessões, utilizando plataformas específicas que se adaptam às
        suas necessidades. Clique no botão abaixo para agendar uma conversa
        gratuita comigo e esclarecer quaisquer dúvidas sobre meu serviço.
      </p>
      <a class="bttnsessaoTerapia" href="https://calendly.com/psi-rebecaferrari/30min" target="_blank">
        Agende uma sessão aqui!
      </a>
    </div>
    <div>
      <div className="imgContainerTerapia">
        <img src="/img/img-terapia.svg" alt="Rebeca Ferrari" class="imgTerapia" />
      </div>
    </div>
  </section>

  <div id="footerr"></div>
</body>

</html>